#YOU CAN EDIT THIS FILE, BUT THIS FILE WILL BE OVERWRITTEN AT COMPILATION TIME
# The following file should contain a tarfile with zip files. Each of the zip files should contain a RDF chess games in TTL 
# rdfchessdump = E:\\Data\\RDFChess\\rdfchess.tar

rdfchessdump = /home/vrodriguez/data/rdfchess/rdfchess.tar

# The server where the linked data is search in
# fuseki = http://localhost:3030/RDFChess/data
fuseki = http://127.0.0.1:8082/fuseki/RDFChess/data

# The folder where the downloadable dumps are expected (Q.nt.zip, rdfchess.tar, pgn.tar)
dumpfolder = /home/vrodriguez/data/rdfchess/

# Domain URI of the data, ending with /. After that, only the id will appear
#datauri = http://salonica.dia.fi.upm.es:8080/rdfchess/resource/
datauri = http://127.0.0.1:8082/fuseki/RDFChess/resource/


