<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>pgn2rdf</servlet-name>
        <servlet-class>pgn2rdf.servlets.Pgn2rdfServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>resource</servlet-name>
        <servlet-class>pgn2rdf.servlets.GameServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>pgn2rdf</servlet-name>
        <url-pattern>/pgn2rdf</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>resource</servlet-name>
        <url-pattern>/resource/*</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
